.bp-images{
    display: flex;
    justify-content: center;
}
.bp-images> div{
    width: 90%;
    text-align: center;
}
.bp-images img{
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 15px;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
a > img:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}